$uxl-units-size-8: 0.5714rem;
$uxl-units-size-9: 0.6429rem;
$uxl-units-size-10: 0.7143rem;
$uxl-units-size-11: 0.7857rem;
$uxl-units-size-12: 0.8571rem;
$uxl-units-size-13: 0.9286rem;
$uxl-units-size-14: 1rem;
$uxl-units-size-15: 1.071rem;
$uxl-units-size-16: 1.143rem;
$uxl-units-size-18: 1.286rem;
$uxl-units-size-20: 1.429rem;
$uxl-units-size-22: 1.571rem;
$uxl-units-size-24: 1.714rem;
$uxl-units-size-26: 1.857rem;
$uxl-units-size-28: 2rem;
$uxl-units-size-30: 2.143rem;
$uxl-units-size-32: 2.286rem;
$uxl-units-size-34: 2.429rem;
$uxl-units-size-36: 2.571rem;
$uxl-units-size-38: 2.714rem;
$uxl-units-size-40: 2.857rem;
$uxl-units-size-42: 3rem;
$uxl-units-size-44: 3.143rem;
$uxl-units-size-46: 3.286rem;
$uxl-units-size-48: 3.429rem;
$uxl-units-size-50: 3.571rem;
$uxl-units-size-52: 3.714rem;
$uxl-units-size-54: 3.857rem;
$uxl-units-size-56: 4rem;
$uxl-units-size-58: 4.143rem;
$uxl-units-size-60: 4.286rem;